.rarr{
    font-style: italic;
    margin-top: 50px;
    margin-left: 800px;
}
.rarr2{
    font-style: italic;
    margin-top: 50px;
    margin-left: 800px;
}
.profile__form3{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    padding: 0px 100px;
   
    input{
        
        border: none;
        border-bottom: 1px solid $headbg;
        background-color: $bg;
        color: white;
        padding:25px 50px ;
        margin-bottom: 1px;
        margin-left: 100px;
        margin-right: 100px;
        border-radius: 3px;    
        font-size: 20px;
    }
    .input__avatar{
        margin-top: 100px;
        margin-right: 350px;   
    }
    
    input:focus{
        outline: none;
    }
    .input__email{
        color: rgb(58, 48, 48);
    }
    .profile__btn{
       align-items: center;
       justify-content: center;
       display: flex;
       margin-bottom: 30px;
       position: relative;
        input{
            margin-top: 1px;
            margin-right: 75px;
            background-color: rgb(46, 46, 46);
            width: 300px;
            padding-right: 75px;
        }
        i{
            position: absolute;
            margin-left: 170px;
            margin-bottom: 3px;
        }
    }
}
.login__github{

}
.login__kakao{

}