extends base

block content
    if errorMessage
        span=errorMessage
    form(method="post")
        input(placeholder ="Old Password", type="password",name="old")
        input(placeholder ="New Password", type= "password",name= "new1")
        input(placeholder ="New Password Confirm", type= "password" ,name="new2")
        input(value="Change Password",type = "submit")