extends base.pug
include mixins/video

block content
    form(method = "Get").search__form
        input(placeholder="Search by title",type="text",name="keyword")
        button
            i.fas.fa-search
    div.homecontent
        each video in videos 
            +video(video)